<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="server = 192.168.1.240; user id = root; password = 1234; database = qyc_model; Connection Timeout=10; charset=utf8;" />
  </connectionStrings>
  <appSettings>

    <!--服务名称-->
    <add key="ServiceName" value="AutoImport"/>

    <!--自动导入监听目录 (相对路径)-->
    <add key="ExcelFolder" value="Excels"/>

    <!--导出Excel时,默认存放路径-->
    <add key="ExportStoredFolder" value="D:\" />

    <!--是否记录所有导入SQL-->
    <add key="LogSql" value="true" />

    <!--是否在表不存在的时候,创建表-->
    <add key="CreateTable" value="true" />

    <!--弱Excel字段比数据库字段多,以数据库字段为准-->
    <add key="BaseOnDB" value="true" />

    <!--配置页面显示Excel表单数据的最大条数-->
    <add key="ShowSheetDataCount" value="1000"/>

    <!--插入数据库时,每多少条数据构造为一个sql语句-->
    <add key="PerDataNumOneSQL" value="1000"/>

    <!--Excel特殊行配置 ,【注: Excel表单行从0开始计数】-->
    <!--中文描述行，若无，则设为-1-->
    <add key="DataColumnNameDescRowNum" value="0" />

    <!--数据库字段名行;若无，则设为-1-->
    <add key="DataColumnNameRowNum" value="1" />

    <!--数据库字段类型行;若无，则设为-1-->
    <add key="DataTypeRowNum" value="2" />

    <!--数据开始行【必须设置，且大于0】-->
    <add key="DataRowNum" value="3" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
</configuration>